:root {
    /* colours */
    --color-text: #F8FAFC; /* Off-White */
    --color-primary: #0EA5E9; /* Cyan Blue */
    --color-accent: #F97316; /* Orange */
    --color-bg: #0F172A; /* Dark Navy */
    --color-dark: #0F172A; /* Dark Navy */
    --color-secondary: #0F172A; /* Dark Navy */

    /* Fonts */
    --font-roboto: "Roboto";
}